---
import { menuItems } from "@data/index";
import HeaderLink from "./header-link.astro";
---

<nav class="site-nav" transition:name="site-nav">
	<div class="site-nav-inner">
		<div class="site-nav-list">
			{
				menuItems.map((item) => (
					<HeaderLink href={item.url}>
						{item.label}
					</HeaderLink>
				))
			}
		</div>
	</div>
</nav>

<div class="page-spacer"></div>
