---
import { clsx } from "@utils/index";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === `/${subpath?.[0]}`;
---

<a
	href={href}
	class={clsx(
		"relative transition-colors duration-200 ease-in-out",
		"hover:text-black dark:hover:text-white",
		isActive
			? "text-black dark:text-white font-medium"
			: "text-gray-500 dark:text-gray-400 font-medium hover:text-gray-900 dark:hover:text-gray-200",
		className,
	)}
	{...props}
>
	<slot />
	{
		isActive && (
			<span class="absolute -bottom-1 left-1/2 -translate-x-1/2 w-1 h-1 bg-orange-500 rounded-full" />
		)
	}
</a>
