---
import { clsx } from "@utils/index";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === `/${subpath?.[0]}`;
const ariaCurrent = isActive ? "page" : undefined;
---

<a
	href={href}
	class={clsx(
		"nav-link whitespace-nowrap",
		className,
	)}
	aria-current={ariaCurrent}
	{...props}
>
	<slot />
</a>
